<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>

    <div style="padding:0 16px 0 16px">
        <h2>List user table:</h2>
        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr class="w3-light-grey">
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < dataUser.length; i++) { %>
                    <tr>
                        <td><%= dataUser[i].id%></td>
                        <td><%= dataUser[i].firstName%></td>
                        <td><%= dataUser[i].lastName%></td>
                        <td>
                            <a href="/detail/user/<%= dataUser[i].id %>" target="_blank">Detail</a>
                            <form action="/get-edit-page/<%= dataUser[i].id %>" method="get">
                                <!-- <input type="text" value="<%= dataUser[i].id %>" name="id" hidden> -->
                                <button type="submit">Edit</button>
                            </form>
                            <form action="/delete-user" method="post">
                                <input type="text" value="<%= dataUser[i].id %>" name="id" hidden>
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>

        </table>
    </div>

    <div class="create-user-container">
        <form action="/create-new-user" class="index-form" method="post">
            <div>
                <h5>First Name:</h5>
                <input type="text" name="firstName">
            </div>
            <div>
                <h5>Last Name:</h5>
                <input type="text" name="lastName">
            </div>
            <div>
                <h5>Email:</h5>
                <input type="email" name="email">
            </div>
            <div>
                <h5>Address:</h5>
                <input type="text" name="address">
            </div>
            <div>
                <button type="submit" style=" margin: 15px 0px;">Submit</button>
            </div>
        </form>
    </div>

</body>

</html>