<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Update user</title>
</head>
<body>
    <form action="/update-user" method="post" class="update-form">
        <div>
            <label>First Name: </label>
            <input type="text" name="firstName" value="<%= dataUser.firstName %>">
        </div>
        <div>
            <label>Last Name: </label>
            <input type="text" name="lastName" value="<%= dataUser.lastName %>">
        </div>
        <div>
            <label>Email: </label>
            <input type="text" name="email" value="<%= dataUser.email %>">
        </div>
        <div>
            <label>Address: </label>
            <input type="text" name="address" value="<%= dataUser.address %>">
        </div>
        <input type="text" name="id" value="<%= dataUser.id %>" hidden>
        <button type="submit">Save</button>
    </form>
</body>
</html>